/* Style the Nav Bar */
.nav-tabs {
    background: linear-gradient(135deg, #1480f4, #0056b3);
    background-color: #007bff; /* Bootstrap Primary Blue */
    border-radius: 8px;
    padding: 10px;
    box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.2);
}

.nav-tabs .nav-link {
    color: white; /* White text */
    border: none;
    font-weight: bold;
}

.nav-tabs .nav-link.active {
    background-color: #0056b3; /* Darker Blue */
    color: white;
    border-radius: 5px;
}

.nav-tabs .nav-link:hover {
    background-color: #0056b3;
    color: white;
}

/* Style the Nav Body */
[ngbNavOutlet] {
    background-color: #e3f2fd; /* Light Bluish Background */
    padding: 15px;
    border-radius: 5px;
    border: 1px solid #007bff;
}

.nav-tabs .nav-link.active {
    background-color: #3998fd; /* Bootstrap primary color */
    color: white;
    border-radius: 5px;
}